.close {
    --background: transparent;
    --color: #084326;
    --border-style: none;
    --box-shadow: none;
}

.custom-label {
    margin-left: 16px;
    margin-top: 2%;
}

.li-ionic4-datepicker {
    border-bottom: none !important;
}

.save-das {
    --background: #084326;
    --background-hover: #084326;
}