<ion-header>
  <ion-toolbar>
    <ion-title>Edit Product</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
          <ion-icon name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #form="ngForm" (ngSubmit)="update_product(form.value)">
  <ion-item>
    <ion-label>Batch Number:</ion-label>
    <ion-input type="text" [(ngModel)]="batch" name="batch" class="ion-text-right ion-margin-end"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Products:</ion-label>
    <ionic-selectable
    [(ngModel)]="product"
    [items]="products"
    itemValueField="id"
    itemTextField="name"
    [canSearch]="true"
    name="das_product">
    </ionic-selectable>
  </ion-item>

  <ion-item>
    <ion-label>Quantity:</ion-label>
    <ion-input type="number" [(ngModel)]="qty" name="quantity" class="ion-text-right ion-margin-end"></ion-input>{{this.qty_label}}
  </ion-item>

  <ion-item>
    <ion-label>Time:</ion-label>
    <ion-input readonly [(ngModel)]="time" 
    [liIonicTimepicker]="timePickerObj" name="time" class="ion-text-right ion-margin-end"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Supplied by:</ion-label>
    <ion-select [(ngModel)]="this.supplier" name="supplier">
      <ion-select-option [selected]="this.supplier == 'Centrogen'" value="Centrogen">Centrogen</ion-select-option>
      <ion-select-option [selected]="this.supplier == 'Other'" value="Other">Other</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="this.supplier == 'Other'">
    <ion-label>Other Supplier:</ion-label>
    <ion-input type="text" [(ngModel)]="other_supp" name="other_supplier" class="ion-text-right ion-margin-end"></ion-input>
  </ion-item>
  <input type="hidden" [(ngModel)]="this.das_id" name="das_id">
  <ion-button size="default" class="save-prod" expand="block" type="submit">Save</ion-button>
</form>
</ion-content>
