.login {
    --background: #084326;
    --background-hover: #084326;
}

.toolbar {
    --background: #6ea743;
    --color: #fff;
}

.show {
    --background-checked: #084326;
    --border-color-checked: #084326;
}

.trans {
    --background: transparent;
    --background-activated: transparent;
    --background-hover: transparent;
    --color: #084326;
    --border-color: #084326;
    --border-style: 1px solid;
    --color-activated: #084326;
}

.spacer {
    margin-right: 3%;
}

.err {
    color:#8b0000;
}

.dash {
    font-size: 22px;
}

@media only screen and (max-width: 375px) { 
    .d-title {
        font-size: 15px;
    }
}
